body	{text-align: center;
	background: url(images/bg.gif) repeat-x #FFF;
	margin: 0cm;
	padding: 5mm;}

#header img	{border: 1mm solid #888;}

#menu	{margin-top: 1mm;
	margin-bottom: 2mm;
	text-align: center;}

#menu table {margin: auto;
	border-collapse: separate;
	border-spacing: 0.5mm;}

#menu td {width: 3.2cm;
	min-width: 3.2cm;
	background: #fff;
	border: 1mm solid #888;
	border-radius: 1mm;
	text-align: center;
	padding: 0px;}

#menu a	{display: block;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	color: #77f;
	background: #fff;}

#menu a:hover {color: #fff;
	background: #aaf;}

#main	{text-align: left;
	background: #FFF;
	margin: auto;
	width: 19cm;
	padding: 4mm 1cm 6mm 1cm;
	border: 1mm solid #888;}


th, td	{border: 1px solid black;
	padding: 0px 5px 0px 5px;}
th	{text-align: center;}
td	{empty-cells: show;}
table	{border-collapse: collapse;}

.cr	{font-size: 10pt;
	color: gray;}
