body	{text-align: center;
	background: #1a1f22;
	margin: 0cm;
	padding: 5mm 5mm 0mm 5mm;
	font-family: arial;}

#wrapper {margin: auto;
 	width: 27cm;}

#header {border-radius: 5px;
	background: white;
	width: 20cm;
	height: 4cm;
	padding: 5mm;
	margin: auto;}

#header h1 {padding: 0px;
	margin: 5mm 5mm 5mm 5mm;}

#header a img	{border-width: 0px;
	width: 4cm}

#acm	{position: relative;
	float: left;}

#psu	{position: relative;
	float: right;}

#link_bar {margin-top: 2mm;
	margin-bottom: 2mm;
	text-align: center;}

#link_bar table {margin: auto;
	border-collapse: separate;
	border-spacing: 1cm 2px;}

#link_bar td {width: 3.2cm;
	min-width: 3.2cm;
	background: #fff;
	text-align: center;
	background: transparent;
	border-width: 0px;
	padding: 0px;}

#link_bar a	{display: block;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	color: #fff;
	/*background: #6D8D24;*/
	background: #8a3;
	/*border-radius: 1mm;*/}

#link_bar a:hover {color: #fff;
	background: #89f;
	/*background: #66f;*/}

.backdrop {background: #78e;
	border-radius: 1mm;
	padding: 2mm;}

#main, #sidebar	{position: relative;
	float: left;
	border-radius: 1mm;
	text-align: left;
	background: #FFF;}

#main	{width: 19cm;
	margin-left: 1mm;}

.box	{padding: 5px;
        background: url(images/bg_td.png) repeat-x #EDEFFF;
        border-radius: 5px;
        border: 1px solid #C9D1FF;
        vertical-align: top;}

#sidebar {width: 7cm;
	margin-left: 4mm;
	font-size: 8pt;}

a:visited {color: #57f;}

.padding {padding: 4mm 1cm 6mm 1cm;}


th, td	{border: 1px solid black;
	padding: 0px 5px 0px 5px;}
th	{text-align: center;}
td	{empty-cells: show;}
table	{border-collapse: collapse;}
h2	{margin: 0px;
	padding: 3px;}

.cr	{font-size: 10pt;
	padding-top: 3px;
	color: gray;
	clear: both;}
